extends partials/head

block vars
	-var bodyId = 'historyPage'

block content
	-selectNav = 'history'

	include partials/header

	.container
		h1 History
		.sessions
			.session
				.video
				.tutor
					span
					| Mathew Jason
				.len
					span Duration: 
					| 30 mins
				.price
					span Cost: 
					| $20
				.date
					span on: 
					| Aug 25, 2017
			.session
				.video
				.tutor
					span
					| Mathew Jason
				.len
					span Duration: 
					| 30 mins
				.price
					span Cost: 
					| $20
				.date
					span on: 
					| Aug 25, 2017
			.session
				.video
				.tutor
					span
					| Mathew Jason
				.len
					span Duration: 
					| 30 mins
				.price
					span Cost: 
					| $20
				.date
					span on: 
					| Aug 25, 2017
			.session
				.video
				.tutor
					span
					| Mathew Jason
				.len
					span Duration: 
					| 30 mins
				.price
					span Cost: 
					| $20
				.date
					span on: 
					| Aug 25, 2017
			.session
				.video
				.tutor
					span
					| Mathew Jason
				.len
					span Duration: 
					| 30 mins
				.price
					span Cost: 
					| $20
				.date
					span on: 
					| Aug 25, 2017
			.session
				.video
				.tutor
					span
					| Mathew Jason
				.len
					span Duration: 
					| 30 mins
				.price
					span Cost: 
					| $20
				.date
					span on: 
					| Aug 25, 2017
